#
# Example configuration file. Copy this file to <server repository>/config/knime-server.config and adjust the values
# to your needs. Defaults will be used if no values are specified.
#
com.knime.server.arctorus_report_formats=
com.knime.server.config.watch=true
com.knime.server.default_mount_id=
com.knime.server.executor.knime_exe=
com.knime.server.executor.max_instances=
com.knime.server.executor.max_lifetime=
com.knime.server.executor.skip_teamspace_mount=
com.knime.server.executor.start_port=
com.knime.server.executor.sudo_cmd=
com.knime.server.executor.update_metanodelinks_on_load=
com.knime.server.job.max_lifetime=
com.knime.server.job.max_time_in_memory=
com.knime.server.job.status_update_interval=
com.knime.server.job.swap_check_interval=
com.knime.server.login.allowed_groups=
com.knime.server.server_admin_group=admin
com.knime.server.server_admin_users=
com.knime.server.webportal.disable_report_preview=
com.knime.server.webportal.disable_warning_messages=
com.knime.server.webportal.hide_version=
com.knime.server.webportal.ie_compatibility=
com.knime.server.webportal.sketcher_page=
com.knime.server.webportal.sketcher_size=
com.knime.server.webportal.title_label=